<h1 align="center">EMPLOYEES</h1>
  <div class ="brand" align= "right">
    <%= link_to 'Invite-New', new_user_invitation_path, :class => "btn btn-primary" %>
  </div>
    <table class= "table table-striped">
      <tr>
        <th>Email</th>
        <th>Operations</th>
        <th colspan="2"></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%=user.email %></td>
        <td>
          <%= link_to 'Edit', user(@user),:class => "btn btn-primary"  %>
          <%= link_to 'Delete', remove_user_invitation_path(@user) ,:class => "btn btn-primary", method: :delete %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
