<div id="wrapper">
  <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Organization Startup 
          </a>
        </li>
        <li>
          <%= link_to 'Organization', organizations_path%>
        </li>
        <li>
          <%= link_to 'Jobs',  organizations_path%>
        </li>
      </ul>
    </div>
</div>
